:root {
    
    --bg-color: #121212;
    --text-color: #ffffff;
    --btn-bg: #1e90ff;
    --btn-text: #ffffff;
}

 
.dark-mode {
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/940586530515504757/CDDE77CB810474E1C07B945E40AE4713141AFD76/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
    --text-color: #ffffff;
    --btn-bg: #007bff;
    --btn-text: #ffffff;
    }
 
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    transition: background 0.3s, color 0.3s;
}
 
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow:
     0 0 10px rgba(0, 0, 0);
    background-color: var(--bg-color);
}
input{
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    width: 100%;
    padding: 10px;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: nome;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{   
    opacity: 0.8;
}
#resultado{
    margin-top: 15px;
    font-weight: bold;
}
.toggle-mode{
    margin-top: 10px;
    background-color: #444;
}


/* /------------------------botao--------------------------/ */
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* /---------------------botao-------------------------/ */

